.widget-date-picker-form {
  float: left;
  max-width: 200px;
  position:relative;
  margin-left: 20px;
}

.widget-date-picker-form-row {
  margin-left: 20px;
  max-width: 35px;
  max-height: 35px; 
  position: relative; 
  height: 25px;
  width: 25px;
  margin-top: 0px;
}

.Cal__Day__root.Cal__Day__selected .Cal__Day__selection, .Calendar {
  width: 42px ;
  height: 42px;
  margin-left: -20px;
 }

.Cal__Day__root.Cal__Day__today:before, .Calendar {
  width: 42px;
  height: 42px;
  margin-left: -20px;

}

.Cal__Day__root, .Calendar {
  font-size: 16px;
 }

 svg.form-row{
  height: 32px;
  width: 30px;
  margin-top: 0px;
 }
 
 .widget-date-picker-calendar{
   margin-left: 1px;
 }
